<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Blog</title>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstraptheme.min.css">
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
          type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="page-header">
    <h1><a href="/"> Blog List</a></h1>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
            <div class="post">
                <div class="date">
                    <p>published: {{ post.published_date }}</p>
                </div>
                <div>
                    <h1><a href=""> {{ post.title }}</a></h1>
                </div>
                <div>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            </div>
            {% empty %}
            <div>
                요청하신 Post가 존재하지 않습니다.
            </div>
            {% endfor %}
        </div>
    </div> <!-- row end-->
</div> <!-- content container end -->

{% comment "Optional note" %}
Server comment
{% endcomment %}

<!-- html client comment -->
</body>
</html>
